*::before, 
*::after { 
  box-sizing: border-box; 
} 
ul
{
  margin-block-start: 0rem;
  margin-block-end: 0rem;
  padding-inline-start: 0px;
}

ul li
{
  
  list-style: none;
  text-decoration:none;
  font-style: italic;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 120%;
  min-width: 50%;
  max-width: none;
}




/* header rules*/
header
{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

/* footer rules*/
.about-me
{
  display: flex;
  height: 10em;
  background-color: #3f5aa3;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content:center;
  align-items:center;
  font-weight: bold;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px; 
  padding-right: 40px;
  font-size: 20px;    
  text-align: center; 
}

.about-me span
{
  margin-top: 5px;
  margin-bottom: 5px;
}

.about-me a
{
  color: aqua;
}

a 
{
  text-decoration: none;
}

.header 
{
    background-color:  #d1d0cf;;
    display:flex; 
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: normal;
    align-items: stretch;
}

.header h1
{
  font-size: 45px;
}

.header h1 a
{
  padding: 20px;
  display:flex;
  margin:auto;
  text-align: center;
  width: 300px;
  background-color: #d1d0cf;
  color: #301c15;
}

 .nav 
{
  width: auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #301c15;
}

.game-rule
{
    border:5px solid #fff;
    height: 100em;
    width: 150em;
    display: flex;
    flex-wrap: wrap;
    background-image: url("../img/GameRules.png");
    background-size: cover;
    justify-content:center;
    align-content: flex-start;
    z-index: 9999;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button-what-is-Famille
{
    background-color: rgb(234, 0, 255);
    color: red;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: baseline;
}

.game-objective
{
    border:5px solid #fff;
    height: 200em;
    width: 90em;
    display: flex;
    flex-wrap: wrap;
    background-image: url("../img/GameObjective.png");
    background-size: cover;
    justify-content:center;
    align-content: flex-start;
    z-index: 9999;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button-start-game
{
    background-color: rgb(234, 0, 255);
    color: red;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: baseline;
}

.game-level
{
    height: 475px;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    background-image: url("../img/vecteezy_poker-table-green-cloth-on-dark-background-vector-illustration_6325236.jpg");
    background-size: cover;
    justify-content:center;
    align-content: flex-start;
    z-index: 9999;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button-game-rules
{
    background-color: rgb(234, 0, 255);
    color: red;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: baseline;
}



.player-discard
{
  text-decoration:none;
  font-style: italic;
  display: flex;
}

.player-pick-up
{
  text-decoration:none;
  font-style: italic;
  display: flex; 
}

.player-pick-up-bottom
{
  text-decoration:none;
  font-style: italic;
  display: flex; 
}


.start-restart
{
  text-decoration:none;
  font-style: italic;
}


.player-action
{
  font-style: italic;
  margin: 10px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration:none;
  background-color:blueviolet;
  color: white;
  border-radius: 8px;
}

.player-action:hover
{
  text-decoration:none;
  font-style: italic;
  box-shadow: 1px 1px #301c15;
  background-color: rgb(219, 104, 241);
  border: 2px solid rgb(236, 0, 110);
  transition: all;
}


.start-restart-button
{
  animation: animateStartButton 6s forwards,
             animateStartButton 6s backwards infinite;
  text-align: center;
  font-size: 2rem;
  text-shadow: 5px 5px 10px  black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-radius: 8px;
  font-weight: bolder;
  margin: 60px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration:none;
  background-color:#e64398;
  color: white;
  border-radius: 8px;
  text-shadow: 5px 5px 10px  black;
  box-shadow: 0 0 0 5px #1b1b1b, 0 0 0 7px #1b1b1a, 0 0 0 10px #1b1a1b, 0 0 0 10px #1b1a1a,0 0 0 20px #1a1a1a;
}

.start-restart-button:hover
{
  animation: animateStartButton 6s forwards,
             animateStartButton 6s backwards infinite;
  background-color: rgb(219, 104, 241);
  border: 2px solid rgb(236, 0, 110);
  text-shadow: 5px 5px 10px  black;
  box-shadow: 0 0 0 5px #1b1b1b, 0 0 0 7px #1b1b1a, 0 0 0 10px #1b1a1b, 0 0 0 10px #1b1a1a,0 0 0 20px #1a1a1a;
  transition: all;
}

.player-discard-layout
{
  text-decoration:none;
  font-style: italic;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.player-pick-up-layout
{
  text-decoration:none;
  font-style: italic;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.start-restart-layout
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.game-level
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.game-background-layout
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.board-card-layout
{
  margin-top: 99px;
  text-decoration:none;
  font-style: italic;
  display: flex; 
}

.board-card
{
  box-shadow: 1px 1px #301c15;
  font-size: 1.5rem;
  text-shadow: 5px 5px 10px  black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-radius: 8px;
  text-decoration:none;
  font-style: italic;
  margin: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-decoration:none;
  background-color:rgb(43, 174, 226);
  color: white;
  border-radius: 8px;
  font-weight: bolder;
}

.top-player-card
{
  box-shadow: 1px 1px #301c15;
  font-size: 1.2rem;
  text-shadow: 5px 5px 10px  black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-decoration:none;
  font-style: italic;
  margin: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-decoration:none;
  background-color:#89ABE3FF;
  color: white;
  border-radius: 8px;
  font-weight: bolder;
}


.bottom-player-card
{
  box-shadow: 1px 1px #301c15;
  font-size: 1.2rem;
  text-shadow: 5px 5px 10px  black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-decoration:none;
  font-style: italic;
  margin: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-decoration:none;
  background-color:#FF69B4;
  color: white;
  border-radius: 8px;
  font-weight: bolder;
}

.end-of-turn-layout
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.end-of-turn
{
  text-decoration:none;
  font-style: italic;
}

.end-of-turn-button
{
  margin: 10px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration:none;
  background-color:rgb(226, 43, 119);
  color: white;
  border-radius: 8px;
}

.end-of-turn-button:hover
{
  box-shadow: 1px 1px #301c15;
  background-color: rgb(219, 104, 241);
  border: 2px solid rgb(236, 0, 110);
  transition: all; 
}

.famille-acquired-top-wrapper
{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

.famille-acquired-bottom-wrapper
{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
}

.famille-acquired-layout
{
  display: flex;
  text-align: center;
}

/*famille acquires css style stuff*/
.famille-acquired-layout2
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.famille-acquired
{
  text-decoration:none;
  font-style: italic;
}

.famille-acquired-caption
{
  font-style: italic;
  margin: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-decoration:none;
  background: #087ee1;
  color: white;
  border-radius: 8px;
  font-size: 1.5rem;
  text-shadow: 5px 5px 10px  black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
}

/*message box who won  css style stuff*/
.message-box-who-won-layout
{
  margin: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.message-box-who-won
{
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-decoration:none;
  font-style: italic;
}

.message-box-who-won-info
{
  font-style: italic;
  margin: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-decoration:none;
  background-color:#BF953F;
  border-radius: 8px;
  animation: animateMessageEventGame 5s forwards,
             animateMessageEventGame2 4s backwards infinite;
  font-size: 1.9rem;
  text-shadow: 5px 5px 10px  black;
  box-shadow: 0 0 0 5px #1b1b1b, 0 0 0 10px #1b1b1a, 0 0 0 20px #1b1a1b, 0 0 0 20px #1b1a1a,0 0 0 30px #1a1a1a;
  background-size: cover;
  object-fit: cover;
  position: sticky;
  z-index: -20;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
  color: white;
  border: 1px solid transparent;
}

@keyframes animateMessageEventGame
{
  0%
  {
   transform:  scale(2); opacity: 0.5;
    font-size:1rem;
    transform: rotate(180deg);
    color: #efd69d;
  }
  50%
  {
    transform: translateX(45px) translateY(-25px);
  }
  100%
  {
    transform: translateX(-45px) translateY(25px) rotate(360deg);
  }
 
  0%
  {
   transform:  scale(-2); opacity: 0.5;
    font-size:1rem;
    color: #efd69d;
  }
}

@keyframes animateMessageEventGame2
{
  0%
  {
    transform:  scale(-2); opacity: 0.5;
    font-size:1rem;
    color: #efd69d;


  }
  50%
  {
    transform: translateX(-45px) translateY(+25px);
  }
  100%
  {
    transform: translateX(+45px) translateY(-25px) rotate(360deg);
  }

   50%
  {
    transform: translateX(-45px) translateY(+25px);
  }

  0%
  {
    transform:  scale(2); opacity: 0.5;
    font-size:1rem;
    transform: rotate(180deg);
    color: #efd69d;

  }
}



@keyframes animateStartButton
{
  0%
  {
   transform:  scale(-1); opacity: 0.5;
    font-size: 0.5rem;
    color:  rgb(219, 104, 241);
  }

  100%
  {
   transform:  scale(1); opacity: 0.5;
 
  }
  
  0%
  {
   transform:  scale(-1); opacity: 0.5;
    font-size: 0.5rem;
    color:  rgb(219, 104, 241);
  }
  
}

.control-message-event
{
  display: flex;
}

@media (max-width:1700px)
{
  .game-background-layout
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
  }
  .top-player-card
  {
    display: flex;
    font-size: 1rem;
  }
  .bottom-player-card
  {
    display: flex;
    font-size: 1rem; 
  }
  .game-level
  {
    min-width: 550px;
    height: 290px;
    width: 550px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    align-content: stretch;
    justify-content: flex-end;
    background-image: url("../img/vecteezy_poker-table-green-cloth-on-dark-background-vector-illustration_6325236.jpg");
    background-size: cover;
    z-index: 9999;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  body
  {
    background-color: black;
  }
  .control-message-event
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }
  .middle-keeping-all-mid-together
{
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.major-wrapper-container
{
  height: 2100px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

}

@media (min-width:1701px) and (max-width:20000px)
{
  body
  {
    background-color: black;
  }
  .game-background-layout 
  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
    flex-wrap: nowrap;
  }
    .middle-keeping-all-mid-together
{
  
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.control-message-event
{
  height: 650px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.major-wrapper-container
{
  height: 1100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;

}
}